In [1]:
%matplotlib inline
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# Load in csv
waste_baskets_df = pd.read_csv("waste_baskets.csv")
waste_baskets_df

,the_geom,the_geom_webmercator,objectid,serialnum,description,recycler,lat,lng
0,0101000020E610000059EEF6CDE7CA52C089AED36AB6FA...,0101000020110F0000A993039DCEEB5FC1127A6054098A...,222,171945,Nw 19th/Parkway,yes,39.958692,-75.170398
1,0101000020E6100000727A5519B0CA52C03DFA98D8EAFA...,0101000020110F00008FD2E5FD6FEB5FC1F06E0B6C438A...,223,171950,Nw 17th/Callowhill,yes,39.960292,-75.166998
2,0101000020E6100000C42DF92A55C852C0FB842732E004...,0101000020110F0000ED3E47DA6FE75FC1A18D3ACF4D95...,224,171953,Nw 5th/Chew,no,40.038092,-75.130198
3,0101000020E6100000FFC17C80AFCA52C0AB183BF8F1F9...,0101000020110F0000D4C045FA6EEB5FC176DA31AC2F89...,225,171954,Sw 16th/Market,no,39.952697,-75.166962
4,0101000020E6100000E521BA9179C952C03E91A9A244F9...,0101000020110F00000E2B9C8660E95FC11D5BECA36F88...,226,171955,Nw 4th/Walnut,no,39.947407,-75.148045
...,...,...,...,...,...,...,...,...
963,0101000020E6100000852B7B9696C952C04D333F68CC00...,0101000020110F00007BA918D191E95FC15B85F733C890...,908,1401930,Germantown Ave. and W Atlantic St. East Side,no,40.006238,-75.149816
964,0101000020E610000039FF2CEEA8D052C09FFEE7D2BDFC...,0101000020110F0000BD49A4DD94F55FC1E8B1CAE7488C...,909,1401931,Sw Brockton rd/Haverford ave,yes,39.974543,-75.260311
965,0101000020E6100000DBBC8FF3CBCE52C0F377CAD4E6FD...,0101000020110F00000C1C45AB6AF25FC1B0366F17928D...,910,1401932,Nw 54th/Hazelhurst,no,39.983607,-75.231198
966,0101000020E61000005874EA9AD0CA52C0EFB1B2FE97F9...,0101000020110F0000802AF134A7EB5FC1C9A67EFDCB88...,911,1401933,Ne 17th/Walnut,yes,39.949951,-75.168982
967,0101000020E610000095186ADED0CA52C04D653CF995F9...,0101000020110F0000456098A7A7EB5FC1EAAF36C0C988...,912,1401934,Se 17th/Walnut,no,39.949889,-75.168998

In [5]:
# Get the columns and the rows that are not null.
waste_baskets_df.count()

the_geom                968
the_geom_webmercator    968
objectid                968
serialnum               968
description             968
recycler                968
lat                     968
lng                     968
dtype: int64

In [7]:
# Get the data types of each column.
waste_baskets_df.dtypes

the_geom                 object
the_geom_webmercator     object
objectid                  int64
serialnum                 int64
description              object
recycler                 object
lat                     float64
lng                     float64
dtype: object

In [8]:
# Get the unique values of the recycler column.
waste_baskets_df["recycler"].unique()

array(['yes', 'no'], dtype=object)

In [13]:
# Get the number of data points from the 'yes' recyclers.
yes_sum = sum(waste_baskets_df["recycler"]=="yes")

In [14]:
# Get the number of data points from the 'no' recyclers.
no_sum = sum(waste_baskets_df["recycler"]=="no")

In [24]:
waste_baskets_df.groupby(['recycler']).count()

,the_geom,the_geom_webmercator,objectid,serialnum,description,lat,lng
recycler,,,,,,,
no,599,599,599,599,599,599,599
yes,369,369,369,369,369,369,369